@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

// colors
$purple: rgb(172, 43, 239);
$pink: rgb(219, 100, 224);
$cyan: rgb(14, 221, 178);
$green: #007159;
$black-1: #343234;
$black-2: #727272;
$white: rgb(255, 255, 255);

// font family
$ff-1: "Cairo", sans-serif;

// breakpoints
$xs-breakpoint: 375px;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;
$xld-breakpoint: 1440px;
